* {
  box-sizing: border-box;
  /* padding: 10px; */
}

.fit {
  /* width: fit-content; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right {
  float: right;
}

.fit,
table,
th,
tr,
td {
  padding: 10px;
}

.tab {
  border: 4px solid blue;
  border-collapse: collapse;
}

th,
td {
  border: 3px solid blueviolet;
}