body {
  margin: 0;
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#ins {
  margin-top: 15px;
  background-color: rgb(76, 187, 76);
  color: white;
  padding: 10px;
}

#ins:hover {
  background-color: #3e8e41;
  cursor: pointer;
}

#ins:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}