body {
  margin: 0;
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#ins {
  background-color: rgb(76, 187, 76);
  color: white;
}

#ins:hover {
  background-color: #3e8e41;
  cursor: pointer;
}

#ins:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}